[2016-04-01 07:16] egeland opened #5 "Getting `TypeError: Cannot read property 'then' of null at GoogleMaps.longitudeChanged`"
Hi, I'm getting this error if I navigate away from and then back to the page with the map, not too sure what's happening:

[code]

[2016-04-01 07:23] egeland opened #6 "Feature request: Set map view to a LatLngBounds"
It would be great to have a way to either (or both) set the map view to be the area within which all the markers are, or an arbitrary [LatLngBounds](https://developers.google.com/maps/documentation/javascript/3.exp/reference#LatLngBounds) object.

The `fitBounds()` method on the [Map](https://developers.google.com/maps/documentation/javascript/3.exp/reference#Map) seems to be what we'd need to pla

[2016-04-01 07:33] egeland opened #7 "Feature request: Customise map markers"
Would be great to be able to tweak the markers' properties, like allowing a custom icon, for example.

[2016-04-01 07:34] egeland opened #8 "Feature request: Info Windows"
Would be great to be able to open an [info window](https://developers.google.com/maps/documentation/javascript/infowindows) when a marker is clicked, for example.

[2016-04-01 07:48] egeland opened #9 "Feature request: Get drag / zoom events"
Would be good to get drag and zoom events, so we can display different things based on the visible map area.

Might be worth setting Aurelia's Event Aggregation up to "republish" all the map events?
There's "only" 19 events listed for the [Map](https://developers.google.com/maps/documentation/javascript/reference#Map) class... ;)

[2016-04-01 10:26] tomtomau commented on #8
Not sure how this would be best executed within Aurelia (like generating HTML) - I know there's a way to render templates on the fly algorithmically, which might be the way to go.

[2016-04-03 13:12] egeland commented on #9
#10 is an attempt to address this issue - in part.

[2016-04-05 05:07] #9 closed

[2016-04-05 22:46] #7 closed

[2016-04-13 07:37] fonckj commented on #5
Similar error here, when navigating back to page containing maps control.

[code]

[2016-04-13 09:32] J4ck4l0pe opened #12 "common.js:197 Uncaught TypeError: Cannot read property 'x' of undefined"
I get this error anytime the bounds change (either latitude and longitude variables updated or dragging or zooming the map.

[2016-04-13 11:18] ghost opened #13 "Feature Request: Address Search Bar"
something like [this](http://blog.thecoderecipe.com/articles/aurelia/places/2015/12/06/aurelia-places-autocomplete.html)

[2016-04-13 16:24] ostyn commented on #5
@fonckj, ditto for me.

[2016-04-14 04:11] Vheissu commented on #8
Thanks to the work of a submitter, the recent release has this feature. Let me know if there are any issues.

[2016-04-14 04:11] #8 closed

[2016-04-14 05:50] Vheissu commented on #12
Sit tight, this might be fixed with the upcoming release with a great PR from @tomtomau

[2016-04-14 05:51] Vheissu commented on #5
This is fixed via a PR which I'll be releasing from @tomtomau

[2016-04-14 06:34] Vheissu commented on #12
Give the latest release a try and if it doesn't work, feel free to log an issue again.

[2016-04-14 06:34] #12 closed

[2016-04-14 06:34] Vheissu commented on #5
Latest release is out now.

[2016-04-14 06:34] #5 closed

[2016-04-14 07:56] Tseberechts opened #16 "common.js:197 Uncaught TypeError: Cannot read property 'x' of undefined"
@J4ck4l0pe here, switched to employers account.
The problem is soved on mapchange, but I still get it on initializing the map.

`common.js:197 Uncaught TypeError: Cannot read property 'x' of undefinedNx`
`@ common.js:197_.Fx.Ma `
`@ common.js:262(anonymous function) `
`@ js?key=******************&libraries=geometry&callback=myGoogleMapsCallback:125`

[2016-04-14 12:47] fonckj commented on #5
Solved. Many Thanks!

Jochen

[2016-04-26 09:53] Tseberechts opened #18 "Warning: a promise was created in a handler but was not returned from it"
at e.GoogleMaps.e.loadApiScript

[2016-05-09 13:30] #16 closed

[2016-05-11 04:27] Vheissu commented on #18
Next release should address this courtesy of @tomtomau

[2016-05-11 06:58] Tseberechts commented on #18
great!

[2016-05-14 13:54] egeland commented on #6
I will need this very soon, so I'll "scratch my own itch" and get it done; I'm proposing to do it this way:
Find an appropriate place to pass an option of (something like) `zoomToBounds`, along with the markers.
If that is set to `true`, then generate a LatLngBounds object based on all the markers, and set the map view area to this, with the `fitBounds()` mentioned earlier.
If `zoomToBounds` is `u

[2016-05-15 13:36] qamaruddin opened #20 "map.css is missing"
I have recently installed and configured the plugin as instructed. However I am getting a 404 not found while css is being loaded. I think something wrong with the url as the css file url seems to have a .js extensions

http://localhost:9000/jspm_packages/npm/aurelia-google-maps@1.0.8/maps.css.js

[2016-05-18 05:44] #18 closed

[2016-05-18 05:44] Vheissu commented on #20
Weird. I am not seeing this happen locally. What version of Jspm are you using?

[2016-06-01 06:41] tareqimbasher opened #21 "Data binding on change causes multiple markers"
When we are binding an object's property to the address property like this:

`<google-map address.two-way="project.Address.fullAddress"
                                            zoom="15"></google-map>`

and when the `fullAddress` property changes the marker on the map changes to the new address, however the old address marker persists. This is especially intrusive when the address changes to an

[2016-06-05 13:09] tomtomau commented on #21
Hmm, it's not supposed to have any two-way data binding yet, however it should definitely update to the new marker and remove the old one. The current expected behaviour is to clear all the markers and redraw them all when the array of markers changes. I'm not sure if the two-way data binding is changing anything but I can't imagine so. I'll hopefully try to put a failing plunkr together soon and

[2016-06-13 02:49] hex1848 commented on #20
I was seeing this as well.  Running jspm update seemed to fix the issue for me.

[2016-06-23 13:32] tomtomau commented on #21
Sorry for the delay @tareqimbasher - I've fixed this pending review :)

[2016-06-25 06:44] mrchjp opened #24 "wrong in plugin config"
I have just updated to v1.0.10 and my app says error: `.../jspm_packages/npm/aurelia-google-maps@1.0.10/aurelia-google-maps.js 404 (Not Found)`

Have a look in `index.js` of the plugin, I see: `define(['exports', './aurelia-google-maps'], function (exports, _aureliaGoogleMaps) {`
Try change to `define(['exports', './configure'], function (exports, _aureliaGoogleMaps) {` and new error: `Unhandled r

[2016-06-26 11:52] #20 closed

[2016-06-27 05:41] egeland commented on #6
Gosh... "soon" is taking longer than I initially thought - but I _will_ get to this! :wink:

EDIT: Oooh, #22 looks like it covers it already!

[2016-06-27 06:50] Vheissu commented on #21
@tareqimbasher I have added in @tomtomau changes, let me know if this resolves the issue for you.

[2016-06-29 03:34] hex1848 commented on #24
Had the same issue with 1.0.11.  As a work around, I diffed jspm_packages\npm\aurelia-google-maps@1.0.09 with jspm_packages\npm\aurelia-google-maps@1.0.11 and copied over everything except the google-maps.js file.  The css and html files are missing entirely, and the index and configure files are different between the packages.  I really needed the auto-zoom functionality and this helped me get it

[2016-07-04 04:26] Vheissu commented on #24
Sorry about this, this is an issue with the plugin structure I was using.

[2016-07-15 03:22] ne0guille commented on #24
Im having this issue with both v.1.0.9 and 1.0.11, can you share the correct plugin structure? im using the one from the readme and its failing

[2016-07-20 10:03] rborosak commented on #24
Are there any updates to this problem?
@hex1848 solution works for me

[2016-07-25 07:36] tareqimbasher opened #26 "option to disable mouse-wheel zoom functionality"
We need a way to disable the zoom functionality that occurs when you use the mousewheel over the map. it can get annoying in certain instances when scrolling the page and the mouse falls on the map, your current page scroll is stopped and instead the map is zoomed out.

Thank you

[2016-07-25 08:35] tareqimbasher commented on #21
@tomtomau @Vheissu Thank you both very much. I will definitely give this a try and let you know soon. :+1:

[2016-08-03 23:10] egeland commented on #24
I edited `index.js` to say `define(['exports', './google-maps'],`, rather than `define(['exports', './aurelia-google-maps'],`, and it seems happier... (I'm in the middle of a bundling nightmare, so I haven't tested it properly, though)

[2016-08-03 23:21] Vheissu commented on #24
A new release is coming out which addresses issues like above. It'll be out today.

[2016-08-04 12:50] federico-galfione opened #27 "Unable to render map"
http://stackoverflow.com/questions/38426020/unable-to-render-a-google-map-using-aurelia-google-maps-plugin

Same problem here: the map doesn't render, no console errors. I've done everything written in README file without success.

[2016-08-06 22:42] ghost commented on #24
@Vheissu I know you're a busy guy. Any update on the new release??

[2016-08-07 22:04] Vheissu commented on #24
@b-rays Just put out the latest release. Please tell me if this fixes the issues for you. The structure of how everything is built has changed, simplified tooling. Tests are also coming shortly.

[2016-08-07 22:05] #21 closed

[2016-08-08 04:33] ghost commented on #24
@Vheissu It's not working for me. I'm getting a 304 to the aurelia-google-maps@1.0.13.js and no API calls in my Google Developer Console. I could be doing something wrong. Someone else give it a go.

[2016-08-10 12:34] williamfelippe commented on #27
Same here.

[2016-08-13 12:30] tavinash7 commented on #27
Same here.

But I am getting this error
**Cannot read property '__useDefault' of undefined**

[2016-08-14 00:44] tomtomau commented on #27
Having the same issue as well. Had a dig around to try and find the culprit but couldn't find anything out of the blue so I'm assuming it's something to do with bundling?

[2016-08-14 01:15] Vheissu commented on #27
I have a fix coming for this tonight. Sorry for the delay.

On 14 Aug 2016 10:44 AM, "Tom Newby" notifications@github.com wrote:

[2016-08-14 01:16] tomtomau commented on #27
Awesome, much appreciated.

[2016-08-14 22:16] tomtomau commented on #27
Bump - is this a simple fix I could put a PR in for?

[2016-08-16 13:05] egeland commented on #27
I'm getting a weird issue where the installed version seems to have the `google-maps.js` file missing - from a quick look around the `dist/`, that seems to indicate that the npm/jspm version of the module uses the `amd/` folder, not the `commonjs/` folder - as the file is in `commonjs/`, but is missing in `amd/`...?

I'm about to try copying the file from the repo into the appropriate folder..

ED

[2016-08-18 10:28] Vheissu commented on #27
Sorry guys it wasn't what I thought it was. Looking into this further :(

[2016-08-22 11:54] tomtomau commented on #27
Temporary fix: #28

Can install the patch with:

[code]

[2016-08-23 11:27] Vheissu commented on #27
Latest release has been pushed 1.0.14 a special thanks to the legend of the hour @tomtomau for PR'ing a fix.

[2016-08-24 08:29] hoangcuongvn commented on #27
This error still occurs with webpack

[code]

[2016-08-31 23:21] tomtomau commented on #6
With #22 and #30 I think this case should be well covered.

#30 allows you to set some map defaults so that if there are no map markers present, it will fallback to the latitude, longitude and zoom specified.

[2016-09-09 14:50] erivan commented on #27
i have the same problem here when i try install with webpack

[2016-09-15 18:55] bcbirkhauser opened #34 "ability to set map options"
Is there a way for me to set the map options? I'm particularly interested in the ability to set the styles of the map. https://developers.google.com/maps/documentation/javascript/styling

[2016-09-30 21:55] VagyokC4 opened #36 "Error when trying to use with CLI"
I'm getting the following error:

[code]

UPDATE: I added the following to my aurelia.json file

[code]

Now I get this error:

[code]

[2016-10-11 05:22] spetz commented on #27
Hi,
I'm still  getting the error: `Cannot read property '__useDefault' of undefined`, my _aurelia.json_ file has the following code:

[code]

Is there a workaround?

[2016-10-13 14:03] #6 closed

[2016-10-13 16:08] ghost commented on #36
I am also seeing this issue.

[2016-10-18 17:03] bartlenaerts commented on #34
Yes. I've integrated this in version 1.0.15. Use `options` as an extra property in the `config.options` method.

[code]

[2016-10-18 17:05] bartlenaerts commented on #26
Yes. I've integrated this in version 1.0.15. Use `options` as an extra property in the `config.options` method.

[code]

[2016-10-31 16:13] cjp666 commented on #36
I am also seeing this, anyone figured out what the problem is?

[2016-10-31 16:22] cjp666 commented on #36
OK figured it for me.  I changed my aurelia.json which was the same as yours to

[code]

[2016-10-31 16:22] cjp666 commented on #27
I changed my aurelia.json which was the same as yours to the following and no longer have the problem

[code]

[2016-11-11 03:03] jasonhjohnson commented on #36
@cjp666 I tried this and I'm getting an `h.load is not a function` error with the CLI. Any ideas?

[2016-11-17 22:25] justindra commented on #34
Can we set this so we can add it when setting each instance? i.e.

`<google-map options="someOptionsObject"></google-map>`

Nice to be able to remove certain functionality like scrolling, panning etc. on some instances, but not all.

[2016-11-20 09:16] bartlenaerts commented on #34
Just added the possibility to add options to each custom element separate, to https://github.com/aurelia-plugins/aurelia-plugins-google-maps.

[2016-11-29 22:07] br-gailitis commented on #36
This will not work with stubs enabled.  Set "stub" to false in your aurelia.json.

[code]

In addition to this, you will run into issues with resources not being attached to the vendor bundle so you'll also need to add them to the dependency:

[code]

[2016-12-06 06:35] justindra commented on #34
Just added a PR, https://github.com/Vheissu/aurelia-google-maps/pull/39

[2016-12-12 04:21] Vheissu commented on #34
This has just been released in 1.0.16 guys. Thanks for your contributions.

[2016-12-12 04:21] #34 closed

[2016-12-12 04:22] Vheissu commented on #27
I have just released a new version of the plugin 1.0.16 which addresses these issues. Plugin now solely uses TypeScript for compilation.

[2016-12-12 04:22] #27 closed

[2016-12-12 04:22] Vheissu commented on #26
Release 1.0.16 has this, closing.

[2016-12-12 04:22] #26 closed

[2016-12-12 04:23] Vheissu commented on #24
This should no longer be an issue in 1.0.16.

[2016-12-12 04:23] #24 closed

[2016-12-12 04:23] Vheissu commented on #36
Instructions for usage with Aurelia CLI were added, they pretty much resemble the comment above except I recommend using the `amd` version, not `commonjs`.

[2016-12-12 04:23] #36 closed

[2016-12-30 14:58] VMBindraban opened #40 "Binding to `address` will generate multiple markers"
When binding `address` to a input field and typing a location will place a new marker, the old marker doesn't get removed however.

Binding to `markers` and setting that to `[]` doesn't help.

[2016-12-30 15:28] VMBindraban opened #41 "How to set height of map?"
Like the title says, how to set the height?
Setting it as attribute or option doesn't work.

https://developers.google.com/maps/documentation/javascript/3.exp/reference#Size

[2016-12-30 15:32] VMBindraban commented on #41
I noticed that it's set by a css file. Can you make a option for this?
`google-map` is not a valid CSS selector.

[2017-01-02 13:30] #41 closed

[2017-01-03 02:16] #40 closed

[2017-01-03 22:41] drub0y opened #43 "Expose "resize" API on the Aurelia control"
The Google Maps control offers a `resize` API which apps can use to notify the control when it's been resized when it otherwise cannot tell.

The scenario I have right now is that I'm using the Aurelia version of the control in a layout where the map is not initially displayed on the page and when it is finally displayed it's giving the infamous gray background and not auto-centering on the addres

[2017-01-03 23:47] drub0y commented on #43
Small clarification, one would need to raise the `resize` event to the map control, but what would make the most sense (at least IMHO) would be to offer an actual `resize` method on the Aurelia control and that fires the `resize` event to the underlying map control.

[2017-01-09 11:53] #43 closed

[2017-01-16 13:57] hancsu opened #47 "How to draw a polygon?"
I'm having trouble working out how to access the current map object from within a .ts file to draw a polygon. I'm using Aurelia (Aurelia-CLI) and TypeScript. How would I go about drawing a polygon on the map?

[2017-01-26 06:26] drub0y opened #48 "Bug when calling resize if the map has not yet been fully loaded"
Hey @Vheissu, I supplied the implementation for the `resize` method and, in my original scenario that I had been testing, I was always calling it after the map had been loaded for sure. What I realized today is that the implementation can fail in other scenarios where the map had not been loaded yet. I realize I need to make sure I wait for the `_mapPromise` like you do in several of the other met

[2017-02-01 10:58] arvadevy opened #50 "Traffic layer"
Does anyone know how to add the traffic layer?
[Google Maps Traffic Layer](https://developers.google.com/maps/documentation/javascript/examples/layer-traffic)
and how to refresh it every 15 minutes or something?

[2017-02-02 12:19] #48 closed

[2017-02-07 19:52] RichiCoder1 commented on #13
Ditto. I could help w/ this too at some point.

[2017-02-07 22:07] gpetrioli opened #52 "Feature request / question: Expose the map object once created."
Is there a plan to expose the `map` object of the created map somehow, so we can manipulate the map beyond what is currently available by the plugin?

[2017-02-08 11:55] ghost commented on #47
Fixed thanks to @VMBindraban

[2017-02-08 11:55] #47 closed

[2017-02-08 12:38] VMBindraban commented on #52
Did you try `view-model.ref`?

http://aurelia.io/hub.html#/doc/article/aurelia/binding/latest/binding-basics/5

[2017-02-08 13:41] gpetrioli commented on #52
@VMBindraban Is it safe to assume that in the `attached()` method of the view where the `<google-map>` appears, the referenced variable will be available as `this.varname` ? (*it works locally*)

(*or could an async call make the variable be unready*)

[2017-02-08 15:40] VMBindraban commented on #52
Yes.

Note that `varname` is set before google is loaded.

[code]

[2017-02-08 19:58] gpetrioli commented on #52
Thanks for the help/info!

[2017-02-08 19:58] #52 closed

[2017-02-09 05:26] jimisens commented on #47
Hello,
I trying to do  the same thing. With the api:loaded event i'm available to call the drawingManager but i need to access the current map object. How can i to this please ??
Thank you very much.

[2017-02-10 11:40] ghost commented on #47
https://gitter.im/Vheissu/aurelia-google-maps?at=589af30f872fc8ce620ab61a

Try and follow this.

[2017-02-22 23:40] shivajiraot opened #54 "Not loading with Webpack"
While trying to use this module with webpack, I get this error
`Cannot find module './aurelia-google-maps/google-maps'.`

What changes need to be done in webpack config to fix this issue?

[2017-02-23 06:18] shivajiraot commented on #54
Resolved after adding below to the package.json
`
"aurelia": {
    "build": {
      "resources": [
        "aurelia-google-maps/google-maps"
       ]
    }
  },
`

[2017-02-23 06:18] #54 closed

[2017-02-23 09:03] ghost commented on #50
Access the maps object by adding the view-model.ref attribute to the <google-map> element, like so:

     <google-map view-model.ref="maps"></google-map>

So maps is now available for use in the viewmodel. Then simply follow the instructions in the Traffic Layer docs on Google: https://developers.google.com/maps/documentation/javascript/examples/layer-traffic

As a sidenote: you may have to subscr

[2017-02-23 10:30] arvadevy commented on #50
Maybe add this to the documentation? Anyway thanks!

[2017-02-23 13:44] hancsu commented on #50
Yeah it would be useful in the docs, I only found out by asking on Gitter.

[2017-02-24 13:07] ghost commented on #50
Yeah it would be useful in the docs, I only found out by asking on Gitter.

You should close the issue if your question has been answered.

EDIT: As a sidenote, if you are using TypeScript and start getting red underlines when using 'google.maps' then get the Google Maps typings: https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/googlemaps

[2017-02-28 21:40] gpetrioli opened #55 "Question: How to use generic npm package that adds google map utilities ?"
Is it possible to use other google map utilities with this plugin ?

I want to use the InfoBox utility (https://www.npmjs.com/package/google-maps-utility-library-v3-infobox).

I add it to aurelia, but a list of

shows in the console (*when running the app, the build goes fine*).

And when i import it and try to use it i get a

Have any hints on how to use this utility with your plugin ?

(*apologi

[2017-03-01 11:15] ghost commented on #55
Sounds like you don't have the Google Maps typings installed. You need to download the type definition files so that TypeScript knows what the types are.

When you say you "add it to Aurelia", which method did you use to include it?

[2017-03-01 11:58] gpetrioli commented on #55
@hancsu I am not using TypeScript, just plain JS.
I installed the google-map-utility-library-v3-infobox through npm with the --save param and updated the aurelia.json to include it in the vendor bundle (_as other dependencies_).

Then i import it with `import {InfoBox} from "google-maps-utility-library-v3-infobox";`

I curerrently have worked around it by defining the InfoBox plugin in the actual

[2017-03-02 08:56] ggrimbert opened #56 "Callback Issue"
Hi,

I have a problem with your component.
The callback passed to Google is called 5 seconds after the API is loaded...
I mean that all calls to Google are made, the API is loaded but it takes 5 seconds to call back my code, so it's unusable.

I've tried on my way, not passing the callback to Google but defined it on the script tag directly, I don't have timing issue.

Is there a way to change it,

[2017-03-02 17:08] Tyderion opened #57 "Change line endings to work on mac without additional git config?"
Hey there

I started using your plugin today and realized, that i need to implement some additional features for our usecase and I wanted to open PRs for those but...

When trying to open a PR I realized, that your files are not encoded in utf-8 but in some other encoding. I cannot get my development tools (e.g. visual studio code or sublime text) to save the file in the correct encoding.
If I ope

[2017-03-02 17:32] drub0y commented on #57
That's weird... I had no problem working on it in VS Code (on Windows) when I contributed. I just opened it again real quick and VS Code is showing `google-maps.ts` as UTF-8 here. You sure you don't have something else messing with your files?
![snip_20170302093059](https://cloud.githubusercontent.com/assets/284152/23519215/03a19b16-ff2b-11e6-9e34-e59588eb748b.png)

[2017-03-02 19:44] Tyderion commented on #57
On windows it works for me as well.

If I open it on my mac, it shows "UTF-8" as well but the file is displayed as having changed and when I save, git displays every line as removed and readded.
It still displays them as UTF-8 (in both windows and mac).
I have no idea why my visual studio code automatically performs some sort of conversion on mac, i'll test it on a coworkers mac to see if it is ju

[2017-03-02 20:09] drub0y commented on #57
Ah, I'm pretty sure that's a problem with git and line endings. This repo does not have a `.gitattributes` file to explicitly control line endings (it also uses an `.editorconfig` that explicitly sets line endings to `CRLF`). I would bet on non-Windows what's happening is that it's pulling down CRLF from the repo, changing to LF and then everything is showing as changed.

The real fix is to add a

[2017-03-03 07:48] Tyderion commented on #57
Oh right, thanks @drub0y It was the line endings. adding `* text=CRLF` to .gittattributes didn't actually change anything though.
I think the problem is the following:
- git checks out the files with LF line endings on mac
- .editorconfig is set to CRLF

So vscode saves the file with crlf endings even though git autoconverts

The fix is the a configuration for git on mac (which I think I forgot wh

[2017-03-17 01:12] justindra opened #60 "feature: Add ability to draw polygons on the map itself"
@Vheissu I'm planning on working on a feature that allows users to add in some polylines/polygons on top of the map, but just wanted to ask if you think this should be part of this plugin or if you feel like this should be a separate component that extends this plugin.

[2017-03-22 15:05] ghost commented on #60
Would it be any different to just grabbing the map object and drawing the polylines the usual way?

[2017-03-23 02:13] justindra commented on #60
Basically just using the usual way, but I thought we could possibly expose some of the controls through the parameter bindings instead of having to do it outside of the component.

[2017-03-24 09:23] ghost commented on #60
Yeah that would have been useful to me a couple of months ago

+1 :+1:

[2017-03-27 07:18] Stickiler opened #61 "Adding markers on-click fails with null error"
When adding markers through an on-click event, an error is thrown indicating that "Uncaught TypeError: Cannot read property 'setZoom' of undefined".

[2017-03-27 07:18] Stickiler opened #62 "Dynamic markers fail to render past first"
When adding markers through binding the markers array, aurelia-google-maps renders the first marker, but fails to render any additional markers beyond that.

[2017-03-27 15:36] ghost commented on #62
Post some sample code? :)

[2017-03-28 01:39] LukevanTricht commented on #62
Apologies for forgetting to add some sample code.

HTML Part of Template:
[code]

Typescript Object:
[code]

I've developed a fix for this issue in Pull Request #63

[2017-03-29 02:04] justindra commented on #60
@hancsu Have started on this feature. Any feedback, let me know.

https://github.com/justindra/aurelia-google-maps/tree/add-polygons

[2017-03-29 12:46] jangert opened #65 "zoomToMarkerBounds fails when adding markers"
zoomToMarkerBounds fails when markers are added and auto-update-bounds is enabled. The problem and a suggested solution is described below:

Line 619 in google-maps.ts

            let listener = google.maps.event.addListener(this.map, 'idle', function() {
                if (this.getZoom() > this.zoom)
                    this.setZoom(this.zoom);
                google.maps.event.removeListener(l

[2017-04-06 11:37] jangert commented on #65
This seems to be fixed with pull request #63
I am now closing this issue.

[2017-04-06 11:37] #65 closed

[2017-04-13 02:25] tomtomau opened #66 "Proposal: Markers should only be an array of {lat, lng} and not Address/Geocoding"
Since #59, I've been fixing up a few issues related to address markers and I'm proposing that we remove them in place of suggesting users move to accessing the GoogleMaps service (#64) directly and geocoding the address themselves (and handling rejections in user-land)

Currently one of the issues I'm facing is the extra layer of complexity that `validMarkers` adds to determining the markers to la

[2017-05-12 00:11] casion opened #68 "Add build script to GIT"
Hello team!

I want add some features to this lib.

Can you add the build scripts to the repository?

Thanks!

Edited:

Never mind, It's just

[code]

[2017-05-12 00:35] #68 closed

[2017-06-13 08:24] HIRANO-Satoshi opened #71 "multiple maps cause an error"
I have two <google-map> and I'm having the following error.

[code]

[code]

Two instances are created for the two maps and *loadApiScript()* is called twice on each instance.

Since both *window.google* and this._scriptPromise are undefined at the moment, *loadApiScript()* tries to load Google Maps API twice and gets error.

Any idea for fix?

[2017-06-30 14:29] wjbarber3 opened #72 "Issue using markers.bind"
First off, thanks for the great plugin!  I have installed with npm, included the plugin with aurelia.use in my main.js file and included the `<google-map>` element in my file-with-map.html.  All works great until I use the markers.bind property. I  cannot figure out where to put the array that contains the data for the markers.bind property.  Should it by in my main.js file and if so where?  Or sh

[2017-06-30 14:37] wjbarber3 commented on #72
Well, I was able to put them in my component js file like so:

`export class Example {
	constructor() {
		this.myMarkers = [
			{
		        latitude: -27.451673,
		        longitude: 153.043981
		    },
		]
	}
}`

Hope this helps someone!

Is the best way?

[2017-06-30 17:38] #72 closed

[2017-08-21 10:56] mttmccb opened #73 "Address binding"
Unless I'm missing something very obvious this doesn't appear to be implemented although it's in the docs, I've hunted the source code for a reference to `address` but it doesn't appear to be there.

I'm getting the address from an API call and then binding that to the maps component but it's just in the middle of the ocean.

[2017-08-23 10:51] bsrdjan commented on #24
Getting the same error with version 2.0 and aurelia-cli, only with production builds.

The `au run --env dev` runs fine and `au run --env prod` results in

 `No Aurelia APIs are defined for the element: "GOOGLE-MAP".`

[2017-09-18 19:31] serifine commented on #73
I was wondering the same. It appears to be removed in these two merges:
https://github.com/Vheissu/aurelia-google-maps/commit/1010d04af9ea303726cfae8bb9eb5391656ed477
https://github.com/Vheissu/aurelia-google-maps/commit/efc6445b6f6d4e2cfd19a76829630d50e98fd38b

[2017-09-18 22:56] tomtomau commented on #73
Correct, we removed this in favour of using the GoogleMapsAPI to geocode an address. In a reasonable UX you're likely to have multiple results for the search query and the user may want to select one. You'll receive the latitude and longitude which you can then bind into the component.

Apologies on it still remaining in the docs, I've raised a pull request at #75

[2017-09-19 04:06] Vheissu commented on #73
This has been merged in. I'll get this released ASAP.

[2017-09-19 04:06] Vheissu opened #76 "Implement Travis CI to automatically release plugin"
At the moment, the plugin is manually maintained. This is an issue for automatic deployment/publishes.

[2017-09-21 13:18] sizilium opened #77 "map reference undefined in map-loaded.call"
`<google-map markers.bind="markers" auto-update-bounds="true" map-loaded.call="mapLoadedCallback(map, $event)"></google-map>`

[code]

Result:
undefined   <----
Ag {gm_bindings_: {…}, __gm: Rf, gm_accessors_: {…}, panControl: true, panControlOptions: {…}, …}

[2017-09-28 14:27] bliu886 opened #78 "Feature: Add support for google heatmaps or marker clusters?"
Having the ability to create heatmaps or have the markers cluster would be useful similar to the following:

https://developers.google.com/maps/documentation/javascript/marker-clustering

https://developers.google.com/maps/documentation/javascript/examples/layer-heatmap

[2017-09-28 23:34] tomtomau commented on #78
Marker clustering would be awesome, we may need to do this on our project in the near future so it may come down the wire but you're welcome to contribute to the repo yourself :)

[2017-10-10 06:31] Vheissu commented on #73
Released in version 2.1.0.

[2017-10-10 06:31] #73 closed

[2017-10-10 06:31] #55 closed

[2017-10-10 06:31] #61 closed

[2017-10-10 06:32] #57 closed

[2017-10-10 06:32] Vheissu commented on #56
Subsequent releases should have fixed this due to relying on lower level API and less abstraction.

[2017-10-10 06:32] #56 closed

[2017-10-10 06:33] Vheissu commented on #71
This should have been fixed with subsequent changes including the use of an API class that better handles instances of Google Maps.

[2017-10-10 06:33] #71 closed

[2017-10-10 06:33] Vheissu commented on #77
@sizilium Can you please try the latest release and tell me if this is still an issue?

[2017-10-10 06:34] Vheissu commented on #78
Time permitting, let me see how much time I have to have a stab at this.

[2017-10-10 06:35] Vheissu commented on #66
Closing this one as @tomtomau implemented this in a PR a while ago.

[2017-10-10 06:35] #66 closed

[2017-10-10 06:35] #62 closed

[2017-10-10 06:40] justindra commented on #60
Will close this as its now implemented since this PR

https://github.com/Vheissu/aurelia-google-maps/pull/74

[2017-10-10 06:40] #60 closed

[2017-10-10 06:43] justindra commented on #50
@arvadevy You can also set it as a parameter in the HTML

https://github.com/Vheissu/aurelia-google-maps#map-type

[2017-10-10 06:47] justindra commented on #13
The google maps api is already exposed to allow you to do this. Here's a snippet on how we use the places autocomplete library.

[code]

[2017-10-16 02:00] HIRANO-Satoshi commented on #71
@Vheissu Thanks. I confirmed.

[2017-10-16 17:59] sizilium commented on #77
I tested it with 2.1.0.
The map reference is still undefined in the mapLoadedCallback().
Note: I'm using TypeScript, but that should not make a difference...

As a workaround I can use Aurelias 'ref' feature (or jQuery) but it would be nice to have the reference to map through the event arg.

Thanks

[2017-10-19 03:50] Vheissu commented on #77
@sizilium No worries. I'll see if I get time today/tomorrow to knock out a solution for this.

[2017-11-27 03:02] justindra opened #82 "Current Release has no Events"
@Vheissu The current release on npm does not seem to have the proper DOM events working. But the current master branch seems to be working fine.

[2017-12-10 05:38] sboyd commented on #8
Hello all!! Thanks for the awesome plugin.
Is there a way to programmatically display the info window on click? I need to dynamically create the info window  just incase there's more than one item for a given map marker.

Thank! --Steve Boyd

[2017-12-25 10:19] alexanderozerov opened #84 "Feature: Add support of clientId settings"
Is there any way to use plugin with google maps premium plan if there is clientId and clientSecret instead of apiKey?

[2018-01-23 15:02] VMBindraban commented on #78
I also would like to see this. I am almost hitting the 1.000 markers on the map.

[2018-01-30 16:06] VMBindraban commented on #78
I will work on this feature, PR coming soon.

[2018-01-31 09:02] VMBindraban opened #85 "No longer possible to disable api key"
Setting the `apiKey` to `false` no longer works.

[code]

[2018-01-31 12:06] Vheissu commented on #85
Interesting. Thanks for reporting this, I'll check it out tomorrow.

[2018-01-31 12:07] Vheissu commented on #84
Do you have a link to the premium plan stuff? Happy to look into it.

[2018-01-31 12:11] Vheissu commented on #82
New release is about to go out, so I am closing this one off. Sorry.

[2018-01-31 12:11] #82 closed

[2018-01-31 12:36] VMBindraban commented on #85
I will submit a PR.

[2018-02-01 14:16] VMBindraban commented on #84
https://developers.google.com/maps/premium/overview

[2018-02-03 10:33] #85 closed

[2018-02-03 10:50] Vheissu commented on #78
Fixed in the latest release, thank you @VMBindraban

[2018-02-03 10:50] #78 closed

[2018-02-07 10:06] yelenatph opened #87 "Bug: initDrawingManager (google-maps.ts)"
After putting marker from Drawing control on the map there is an uncaught error:
Uncaught TypeError: evt.overlay.getPath is not a function (see attached files)

Seems in initDrawingManager() method there is no check for evt.type.
In case of evt.type == "polygon" there is no error (because it has paths), but in case of evt.type == "marker" there is an error , since marker hasn't getPath() method.
!

[2018-02-07 23:42] ghost commented on #27
I'm seeing this issue with the 2.2.0 release when using Webpack. The map does not render, there are not any console errors, but I can see that the custom element exists and is instantiated

![image](https://user-images.githubusercontent.com/179260/35947589-944c3e46-0c36-11e8-89ac-e4a20e58d1a7.png)

[2018-02-10 13:16] fedoranimus opened #89 "Map not rendering"
The map is unable to render with the 2.2.0 release when using Webpack. There are not any console errors, but I can see that the custom element exists and is instantiated.

![image](https://user-images.githubusercontent.com/179260/36062434-b462080e-0e3a-11e8-8968-21f376c740b6.png)

[2018-02-13 01:36] ghost commented on #89
Solved it - issue was that I had misspelled an apiLibrary in the config. Perhaps some more handling around this could be useful.

[2018-02-13 01:36] #89 closed

[2018-02-13 04:23] Vheissu commented on #87
PR has been merged for this, thanks again. Minor release coming out soon.

[2018-04-18 16:40] airboss001 opened #92 "Clearing ClusterMarkers not working"
It seems to just be adding clustered markers and never removing them when the marker array is changed.

google-maps.ts clearMarkers does some empty array thing using renderClusters that is apparently ineffective.

From what I can determine it looks like in marker-clustering.ts in the renderClusters function it is never saving the returned object so that the clearMarkers() can be called on the crea

[2018-04-19 01:30] airboss001 commented on #92
I created a fork with changes that correct this issue, and I also found that it was calling renderClusters for each marker added instead of after the marker entries had completed so corrected that. I sure it could perhaps be done in a better fashion as I am a neanderthal with promises, but it is working for me and my case
https://github.com/airboss001/aurelia-google-maps.

[2018-04-22 13:40] airboss001 commented on #77
This is old, but apparently the $events is ignored and the map gets placed in events param with the map param is set to null.

So I guess the moral of the story is, only pass the map.

[2018-04-22 15:52] airboss001 opened #94 "Polygons and Polylines"
So I had the need for generating polylines for from/to markers.
The current setup just used polygons and due to the fact that I could have many thousands of lines being drawn did not want to have it done with closed polygons for performance as well as visual effect of darking the semi-transparent lines due to doubling them up. (Admin visualization tool for template assignment and their distributio

[2018-04-23 11:59] VMBindraban commented on #92
Can you submit a PR with the changes?

[2018-04-23 12:23] airboss001 commented on #92
I have several days ago. Not sure its the correct way as it also includes the rebuilt dist, besides the changes to the source google-maps.ts and marker-clustering.ts

[2018-04-23 12:27] VMBindraban commented on #92
Whoops, missed that one.

[2018-04-23 12:34] airboss001 commented on #92
No worries, let me know if I need to change anything.

[2018-06-15 09:23] VMBindraban opened #96 "Google maps now requires an API key"
Since 11-06-18 google maps require an API key.
It still works but it shows this:

![image](https://user-images.githubusercontent.com/2269400/41460931-7a56b9aa-708e-11e8-87fd-f5cf0d2aa42a.png)

[2018-06-15 15:34] #92 closed

[2018-06-28 09:34] jonaspu commented on #94
I'm sorry for hijacking your issue.

But since you seem to understand how the polylines work, could you explain to me how I can draw polylines on the map?

I tried binding `polylines` but it doesn't seem to work.

[2018-06-28 11:44] airboss001 commented on #94
The link provided above goes to the project with the polyline addition.

Check that out and see if it answers your question on one way of doing it.

[2018-06-28 13:16] airboss001 commented on #94
Here is how I use it in the HTML, and the code that builds out the lines and markers.

[code]

[code]

[2018-12-04 07:10] pkkummermo opened #99 "Throws error if you don't have both API key AND client id"
These are separate auth types if I'm not mistaken and the line

https://github.com/Vheissu/aurelia-google-maps/blob/master/src/google-maps.ts#L86

should be flipped to be &&. I can make a PR.

[2018-12-10 21:17] #99 closed

[2018-12-10 23:24] pkkummermo commented on #99
@Vheissu The issue was readded in this PR https://github.com/Vheissu/aurelia-google-maps/pull/101/files#diff-a18c052bd6ec1efd86b4323c6b8b779aL85 as it was merged _after_ the fix.

[2018-12-10 23:35] pkkummermo commented on #99
New pr #102

[2018-12-11 14:22] dweber019 opened #103 "Make a new release from source (API Key)"
Currently I get:
[code]
This has already been fixed in
https://github.com/Vheissu/aurelia-google-maps/blob/master/src/google-maps.ts#L85

But was not released or build
https://github.com/Vheissu/aurelia-google-maps/blob/master/dist/commonjs/google-maps.js#L67

Please release / build a new version with the fix.

[2019-01-31 11:05] VMBindraban commented on #103
They force a key since today.

[2019-02-27 19:24] webcat12345 opened #104 "__WEBPACK_IMPORTED_MODULE_0_aurelia_pal__.a.injectStyles is not a function"
### Aurelia version

"aurelia-framework": "1.1.5",
"aurelia-pal": "1.4.0",
"aurelia-binding": "1.5.0",
"aurelia-templating-binding": "1.4.0",

### Story

We were using `aurelia-google-maps@2.0.0` and `EventAggregator` to get marker click events.
Problem is having 2 maps on the same page. In this case, I can't filter the selected map instance.
So I tried to upgrade `2.2.0` and it throws below error

[2019-03-06 11:32] Vheissu commented on #104
Sorry for the delay. This error looks quite familiar. Let me play around and see if I can find out what is going on.

[2019-03-06 13:30] webcat12345 commented on #104
Thank you very much, we were able to implement functionality with 2.0.0. But really looking forward to using DOM event of the newest version for our project.

[2019-04-10 17:08] webcat12345 opened #105 "Support HTML render for map marker"
I would like to use HTML content for map marker.
After some investigation there are some blogs about this topic but not sure how it would work with this library.

Like this.

https://codepen.io/studio-klik-hr/pen/GmwLr

[2019-11-07 08:32] johanbasson opened #106 "Feature: Show infoWindow without marker being clicked"
Add an option to show infoWindow by default without the user needing to click on the marker

[2020-04-14 07:24] danielmihaylov commented on #103
Did you fix it/ release it, i am still getting this error ?

[2020-11-06 11:41] EtseDev commented on #103
Hi @Vheissu

Would this fix be released anytime soon?

[2021-07-01 22:56] #13 closed

[2021-07-01 22:56] #50 closed

[2021-07-01 22:56] #76 closed

[2021-07-01 22:56] #77 closed

[2021-07-01 22:56] #84 closed

[2021-07-01 22:56] #87 closed

[2021-07-01 22:56] #94 closed

[2021-07-01 22:56] #96 closed

[2021-07-01 22:56] #103 closed

[2021-07-01 22:56] #104 closed

[2021-07-01 22:56] #105 closed

[2021-07-01 22:56] #106 closed

[2021-07-13 10:28] martinhschei opened #124 "Feature request: expose google.maps.controlPosition constants"
As this package is now i have to hard-code these values (which is a liability) because it does not seem to expose underlying constants from google.map javascript api. would be nice to have these exposed.

![image](https://user-images.githubusercontent.com/21332243/125436731-32a0a54b-df5a-48be-97e5-3448045283f1.png)

[2021-07-13 10:51] Vheissu commented on #124
@martinhschei I am absolutely onboard with this. Are you comfortable contributing this change to the plugin and submitting a PR, or happy to wait until I can take a look?

[2021-07-14 07:28] martinhschei commented on #124
@Vheissu I could contribute this at some point, but is this package still being developed or is it abandoned?